input[type=number] {
  -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flex-basic() {
  display: flex;
}

.flex-between-center() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-between-start() {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}